@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: "Google Sans", sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
}

.leftSide,
.rightSide {
    display: none;
}

.mobileNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 64px;
    list-style: none;
}

.hero-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #c4baba;
}

.hero-pic {
    width: 100%;
    margin: 0;
}

.hero-pic img {
    display: block;
    width: 100%;
    height: auto;
}

.hero-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 32px 16px 0 16px;
}

.hero-right h1 {
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.1;
    color: #383838;
}

.hero-right p {
    margin-bottom: 24px;
    font-size: 25px;
    line-height: 1.4;
    color: #383838;
}

.hero-right input {
    display: block;
    width: 100%;
    max-width: none;
    padding: 8px 0;
    border: none;
    background-color: #8b8484;
    color: #fff;
    cursor: pointer;
    font-size: 25px;
    margin-bottom: 32px;
}
button {
    padding: 8px 0;
    width: 100%;
}

@media (min-width: 768px) {
    header {
        justify-content: space-between;
    }

    .leftSide,
    .rightSide {
        display: flex;
        align-items: center;
    }

    .leftSide {
        margin-left: 24px;
        
    }

    .leftSide li {
        display: flex;
        align-items: center;
        height: 32px;
        list-style: none;
        font-size: 25px;
        color: rgba(0, 0, 0, 0.6);
    }

    .leftSide li span {
        font-weight: 700;

    }

    .rightSide {
        justify-content: center;
        margin-right: 24px;
    }

    .rightSide li {
        list-style: none;
        margin-left: 16px;
    }

    .rightSide a {
        text-decoration: none;

    }

    .mobileNav {
        display: none;
    }

    .hero-container {
        flex-direction: row;
        align-items: center;
    
        padding: 32px 24px;
    }

    .hero-pic {
        width: 60%;
        max-width: 60%;
        margin: 0;
    }

    .hero-right {
        width: 40%;
        max-width: 40%;
        margin: 0;
        padding: 24px;
    }

    .hero-right h1 {
        margin-bottom: 24px;
        font-size: 48px;
    }

    .hero-right p {
        margin-bottom: 24px;
        font-size: 28px;
    }

    .hero-right input {
        width: 100%;
        max-width: none;
    }
}




.information {
    margin: 0;
    background-color: #fff;
}

.information-left {
    display: none;
    padding: 16px 16px 32px;
}

.information-left img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 16px;
}

.information-left h3 {
    margin-bottom: 16px;
    font-size: 1.8rem;
    font-weight: 700;
    color: #383838;
}

.information-left p {
    color: #4a4a4a;
    line-height: 1.5;
}

.information-right {
    width: 100%;
    margin: 0;
}

.information-content {
    display: flex;
    flex-direction: column;
    margin: 16px 16px 32px;
}


.information-image {
    width: 100%;
    margin-bottom: 16px;
}

.information-image img {
    display: block;
    width: 100%;
    height: auto;
}

.information-image .desktop-img {
    display: none;
}

.information-image .mobile-img {
    display: block;
}

.content {
    padding: 0 0 0 16px;
}

.content h2 {
    margin-bottom: 8px;
    font-size: 1.2rem;
    color: #383838;
}

.content p {
    margin-bottom: 8px;
    font-size: 1rem;
    line-height: 1.4;
    color: #4a4a4a;
}

.content a {
    text-decoration: none;
    color: #1a73e8;
}

.guest {
    background-color: #fff;
}

@media (min-width: 768px) {
    .information {
        display: flex;
        align-items: stretch;
        gap: 24px;
padding: 0 0 0px 24px;
    }

    .information-left {
        display: block;
        flex: 1.2;
        max-width: 60%;
        padding: 0;
        margin-top: 32px;
        margin-bottom:32px;
    }

    .information-left h3 {
        font-size: 2rem;
    }

    .information-right {
        display: flex;
        flex-direction: column;
        gap: 0;
        flex: 0.8;
        max-width: 40%;
        border-left: 1px solid rgb(133, 131, 131);

    }

    .information-content {
        flex-direction: row;
        align-items: center;
        margin: 0;
        
        
    }
    .information-content:first-child {
        flex-direction: row;
        align-items: center;
        margin: 0;
        padding: 32px 0 0 0;
    }

    .information-content:not(:last-child) {
        border-bottom: 1px solid rgb(177, 173, 173);
    }

    .information-image {
        width: 35%;

        margin: 0 16px 0 16px;
    }

    .information-image .desktop-img {
        margin-bottom:16px;
        display: block;
    }

    .information-content:nth-child(n+2) .information-image img.desktop-img {
        padding-top: 16px;
    }

    .information-image .mobile-img {
        display: none;
    }

    .content {
        
        width: 65%;
    }

    .guest {
        background-color: #e0e0e0;
    }
}


.course {
    background-color: rgb(255, 255, 250);
    display: block;
    padding: 32px 0;
    border: 1px solid rgb(221, 221, 221);
}

.course h1 {
    width: 100%;
    margin: 0;
    padding-bottom: 16px;
    text-align: center;
    font-size: 2.5em;
}

.course-flex {
    display: block;
    width: 100%;
    grid-gap: 32px 32px;
    box-sizing: border-box;
}

.course-flex .course-image, 
.course-details p {
    display: none;
}

.course-container {
    background-color: rgb(255, 255, 250);
    width: 100%;
}

.course-container img {
    width: 100%;
    height: auto;
}

.course-container:hover {
    box-shadow: 0 0 20px 9px rgb(224, 222, 222);
    cursor: pointer;
}

.course-details {
    width: 90%;
    margin: 8px auto;
    color: #383838;
}

.course-details h2 {
    background-color: #ece8e8;
    padding: 16px 0 24px 16px;
    margin: 0;
}


@media (min-width: 768px) {
    .course {
        background-color: #c4baba;
        padding: 32px 72px;
        border: none; 
    }

    .course h1 {
        width: auto;
        margin-bottom: 32px;
        padding-bottom: 0;
    }

    .course-flex {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .course-flex .course-image, 
    .course-details p {
        display: block;
    }

    .course-details {
        width: auto;
        margin: 16px 16px 24px 16px;
        color: inherit;
    }

    .course-details h2 {
        background-color: transparent;
        padding: 0;
    }

    .course-details p {
        font-weight: lighter;
        font-size: 14px;
        margin: 8px 0;
    }
}

















footer{
    border-top: 1px;
    display: flex;
    justify-content: space-between;
    margin: 16px auto 32px 24px;
}
    .right-footer{
        display: none;
    }
    .left-footer{
        width: 90%;
    }



li{
    list-style: none;
}

a{
    text-decoration: none;
    color: initial;
}

@media (min-width: 768px){
.right-footer{
    display: flex;
    justify-content: space-around;
}

.right-footer li{
    margin-right: 24px;
}
}