@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff;
    font-family:"Google Sans", sans-serif;
}
header {
    margin: 0 auto;
    display: flex;
    height: 64px;
    justify-content: space-between;
    background-color: inherit;
}




    .mobileNav {
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        align-items: center;
        border: 1px solid black;
        width: 100%;
        height: 64px;
    }
    .rightSide,
    .leftSide {
        display: none;
    }
@media (min-width:768px) {

    .rightSide li {
        list-style: none;
        margin-left: 16px;
    }

    .leftSide{
        height: 32px;
        margin: auto;
    }

    .leftSide li {
        font-size: 25px;
        list-style-type: none;
        height: 32px;
        display: flex;
        align-items: center;
        color: rgba(0, 0, 0,0.6)
    }

    .leftSide li span{
        font-weight: 700;
        color: initial;
    }

    .rightSide {
        display: flex;
        text-align: right;
        justify-content: center;
        margin-right: 24px;
        align-items: center;
    }

    .rightSide a {
        text-decoration: none;
        color: inherit;
    }

    .leftSide {
        display: flex;
        align-items: center;
        margin-left: 24px;
        cursor: pointer;
    }

    .mobileNav {
        display: none;
    }
}
